$primary: #fb7a5a;
$font-color: #777;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

$modal-dialog-margin: auto;
$modal-content-bg: #f6f6f6;
$modal-content-border-width: 0;
$modal-content-border-radius: 35px;
$modal-md: 600px;